/* You can add global styles to this file, and also import other style files */
 *{
        
 }
h1{
        background-color: rgb(105, 213, 228);
        color: rgb(61, 61, 61);
        text-align: center;
        border-radius: 25px;
}

form{
        display: flex;
         justify-content: center;
         align-items: center;
       width: 80%;
       margin: auto;
       background-color: rgb(243, 240, 240);
       padding: 25px;
       flex-direction: column;
       border-radius: 25px;

}
input{
        margin-bottom: 3dvw;
        width: 80%;
}
button{
        font-size: 12pt;
        width: 10dvw;
        border: 0 transparent;
        background-color: rgb(105, 213, 228);
        border-radius: 25px;

        padding: 10px;
}
